body {
  margin: 0px;
}

.clear {
  clear: both;
}

.buttons {
  max-width: 80%;
}

.gifs {
  position: relative;
  top: 50px;
  height: auto;
  display: table-row;
}

.adding-buttons {
  width: 20%;
  position: relative;
  top: 0px;
  right: 0px;
}

#input-box {
  margin-bottom: 8px;
  width: 80%;
}

.header {
  margin: 0px;
  color: white;
}

.button,
#submit-button {
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  background-color: teal;
  padding: 5px 10px 5px 10px;
  border: none;
}

.button:hover,
#submit-button:hover {
  background-color: turquoise;
  color: black;
}

.buttons input {
  margin: 5px;
}

.gif-box {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
}

#gifContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid black;
  overflow: hidden !important;
  background-color: white;
}

.gifHeader {
  font-weight: bold;
  font-style: italic;
}

hr {
  border-top: 1px solid rgb(0, 0, 1);
}

body {
  background-color: #008080;
}