body {
  margin: 0px;
}

.clear {
  clear: both;
}

.buttons {
  max-width: 80%;
}

.gifs {
  position: relative;
  top: 50px;
}

.adding-buttons {
  width: 20%;
  position: absolute;
  top: 0px;
  right: 0px;
}

#input-box {
  margin-bottom: 8px;
  width: 80%;
}

.header {
  margin: 0px;
}

.button,
#submit-button {
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  background-color: teal;
  padding: 5px 10px 5px 10px;
  border: none;
}

.button:hover,
#submit-button:hover {
  background-color: turquoise;
  color: black;
}

.buttons input {
  margin: 5px;
}

.gif-box {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  /* float: left; */
}
